ion-item{
     --background: transparent;
     --color: #fff;
 }
 ion-button{
     --background: #062f77;
 }
ion-row{
    width: 100%;
}
#logo{
    max-width: 60px;
}
.ion-focused{
    background: transparent;
}
